<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regiões</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/norte.css'}" >
</head>
<body>
    <ul>
        <h1>Estados do Norte</h1>
        <li><a href="amazonas"><button>Amazonas</button></a></li>
        <li><a href="para"><button>Pará</button></a></li>
        <li><a href="tocantins"><button>Tocantins</button></a></li>
        <li><a href="../"><button>Voltar</button></a></li>
    </ul>
</body>
</html>