<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regiões</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/sudeste.css'}" >
</head>
<body>
    <ul>
        <h1>Estados do Sudeste</h1>
        <li><a href="espirito_santo"><button>Espírito Santo</button></a></li>
        <li><a href="minas_gerais"><button>Minas Gerais</button></a></li>
        <li><a href="../"><button>Voltar</button></a></li>
    </ul>
</body>
</html>